server:
  port: 8001
  error:
    include-message: always

spring:
  application:
    name: customer
  config:
    import:
      - "classpath:shared-application-${spring.profiles.active}.yml"
      - "classpath:clients-${spring.profiles.active}.properties"
      - "classpath:amqp-${spring.profiles.active}.properties"
  threads:
    virtual:
      enabled: true   # Java 21 virtual threads

---
spring:
  config:
    activate:
      on-profile: default

grpc:
  server:
    port: 9091

---
spring:
  config:
    activate:
      on-profile: "docker | kube | eks"

grpc:
  server:
    port: 9090

