server:
  port: 8005
  error:
    include-message: always

spring:
  application:
    name: payment
  config:
    import:
      - "classpath:shared-application-${spring.profiles.active}.yml"
      - "classpath:clients-${spring.profiles.active}.properties"
      - "classpath:amqp-${spring.profiles.active}.properties"
