management:
  otlp:
    tracing:
      endpoint: http://jaeger:4318/v1/traces

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/${spring.application.name}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  rabbitmq:
    addresses: rabbitmq:5672
  jpa:
    hibernate:
      ddl-auto: create
  sql:
    init:
      mode: never
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/demo-realm

eureka:
  client:
    enabled: false

jwt:
  auth:
    converter:
      principle-attribute: preferred_username
