#Server
server:
  port: 8761

#Spring
spring:
  application:
    name: eureka-server

#Management
management:
  observations:
    key-values:
      application: ${spring.application.name}
  tracing:
    sampling:
      probability: 1.0
    enabled: true
  otlp:
    tracing:
      endpoint: http://localhost:4318/v1/traces
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

#Eureka-Server
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false

#Logging
logging:
  pattern:
    correlation: "[${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
    level: "%5p ${logging.pattern.correlation} %c{1.} : %m%n"
