apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
        - name: notification
          image: miliariadnane/notification:12.09.2022.17.36.48
          imagePullPolicy: Always
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              memory: "512Mi"
              cpu: "500m"
          ports:
            - containerPort: 8004
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: eks
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/notification
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: dbsecretd
                  key: db_username
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dbsecret
                  key: db_password
      restartPolicy: Always
